body {
    margin: 0;
}

/* ---nav--- */
#nav {
    background-color: #339999;
    color: white;
    /* position:static; */
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.logo {
    flex-grow: 1;
    padding: 10px;
}

.bookmark {
    flex-grow: 1.3;
    padding: 10px;
}

.bookmark ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bookmark ul li {
    margin-right: 80px;
    float: left;
}

.bookmark ul li:hover {
    color: red;
}

/* ---container--- */
.container {}